@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Click here to confirm registration. <br/> <br/>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">
        <button class="btn btn-primary mx-1" type="submit" >Confirm Registration</button>
    </a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

