@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
<div class="container">
      <h1>About Catering Larissa</h1>
   </div>
   <div class="about-logo"><img src="/Images/Picture2.png" alt="Logo"></div>
   <div class="container">
      <div class="about">
         We serve ordering a variety of dishes both for parties and to support the needs of an agency</br>
         <div class="contact">
            <h3>Contact Us</h3>
            <i class="fas fa-phone-square-alt"></i></span> +62 812 3456 7890</br>
            <i class="fas fa-envelope"></i></span> contact@cateringlarissa.com</br>
         </div>
      </div>
   </div>